# Proyecto Explorador de Galaxias

## Importamos las librerias

In [1]:
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import cm
import numpy as np
import pandas as pd

Definimos los ficheros csv a utilizar descargados de http://skyserver.sdss.org/dr8/ (offline)

In [2]:
phot_obj_file = 'SDSS_PhotObj.csv'
spec_obj_file = 'SDSS_SpecObj.csv'

Leemos los ficheros y los convertimos en un Dataframe

In [3]:
df_phot = pd.read_csv(phot_obj_file)
df_spec = pd.read_csv(spec_obj_file)

Las librerias pandas y numpy son muy útiles para explorar pequeños conjuntos de datos como los que estás tratando en esta fase preliminar del trabajo.

In [4]:
df_phot.describe()

,objid,fileid,ra,dec,u,g,r,i,z,field
count,2.510000e+04,2.510000e+04,25100.000000,25100.000000,25100.000000,25100.000000,25100.000000,25100.000000,25100.000000,25100.000000
mean,1.237650e+18,5.880737e+17,172.709809,13.395714,4.010871,2.324260,4.651699,3.820509,1.520464,296.370598
std,1.645822e+12,5.033105e+14,52.534598,24.319948,394.615333,394.548394,351.787919,357.394007,384.252405,190.942690
min,1.237646e+18,5.877230e+17,7.103529,-9.890394,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,11.000000
25%,1.237649e+18,5.877246e+17,148.757134,-0.735722,19.008747,17.506067,16.695885,16.271628,15.954477,143.000000
50%,1.237650e+18,5.877258e+17,179.994742,0.354240,19.622710,18.045216,17.205884,16.779042,16.464638,267.000000
75%,1.237651e+18,5.888489e+17,203.748629,14.889392,20.233414,18.425552,17.528970,17.093385,16.788562,431.000000
max,1.237679e+18,5.888489e+17,359.499393,68.727182,30.316545,28.403141,35.974701,27.389235,27.190168,812.000000

In [5]:
df_phot.shape

(25100, 10)

In [6]:
df_spec.describe()

              objid      redshift         plate           mjd       fiberid
count  2.510000e+04  25100.000000  25100.000000  25100.000000  25100.000000
mean   1.237650e+18      0.107631    379.850518  51922.240398    311.480558
std    1.645822e+12      0.052087    159.051898    241.208062    185.285099
min    1.237646e+18     -0.000146    266.000000  51608.000000      1.000000
25%    1.237649e+18      0.073409    293.000000  51703.000000    151.000000
50%    1.237650e+18      0.100497    331.000000  51910.000000    303.000000
75%    1.237651e+18      0.136808    446.000000  51990.000000    474.000000
max    1.237679e+18      0.997334   2955.000000  54584.000000    640.000000

In [7]:
df_spec.shape

(25100, 6)

Obtenemos datos auxiliares

In [8]:
df_phot["fileid"][11]

587739407832580481

In [9]:
df_phot.shape[0] - len(df_phot["objid"].unique())

46

In [10]:
df_spec["class"].unique()

array(['GALAXY', 'STAR'], dtype=object)

In [11]:
df_spec["class"].value_counts()

GALAXY    25080
STAR         20
Name: class, dtype: int64